# debian/control
Source: funca-program
Section: utils
Priority: optional
Maintainer: Your Name <your@email.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 4.5.0

Package: funca-program
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Example C++ program
 A simple C++ program demonstrating function calculations.