# debian/control
Source: cppproject
Section: utils
Priority: optional
Maintainer: Your Name <zekotmaryana2004@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 4.5.0

Package: cppproject
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Example C++ program
 A simple C++ program demonstrating function calculations.